  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingFname" value="{{this.first_name}}" placeholder="First Name" name="first_name" />
      <label for="floatingFname">First Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingLname" value="{{this.last_name}}" placeholder="Last Name" name="last_name" />
      <label for="floatingLname">Last Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingEmail" value="{{this.email}}" placeholder="Email" name="email" />
      <label for="floatingEmail">Email</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingPhone" value="{{this.phone}}" placeholder="Phone" name="phone" />
      <label for="floatingPhone">Phone</label>
    </div>
  </div>
  
  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Comments/Suggestions/Queries" name="comments" id="floatingComments">{{this.comments}}</textarea>
      <label for="floatingComments">Comment</label>
    </div>
  </div>

  <div class="d-grid gap-2 col-3 mx-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
