<div class="row mt-5">
  <div class="col-6">
    <h2>Users</h2>
  </div>

  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Add new user</a>
  </div>
</div>

<div class="row">
  <div class="col">
    {{#if removedUser}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      User was removed!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
  </div>
</div>

<hr>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" class="d-flex justify-content-end">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td class="d-flex justify-content-end">
          <div>
            <a href="/userdetails/{{this.id}}" type="button" class="btn btn-sm btn-light"><i class="bi bi-eye"></i></a>
            <a href="/edituser/{{this.id}}" type="button" class="btn btn-sm btn-light"><i class="bi bi-pencil"></i></a>
            <a href="/{{this.id}}" type="button" class="btn btn-sm btn-light"><i class="bi bi-trash"></i></a>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>